body {
    margin: 0
}

button {
    cursor: pointer;
}

.app-container {
    --themeDarker: #3A307C;
    --themeLighter: #584E9A;
    --colourBackground: linear-gradient(89.73deg, var(--themeLighter) 0.23%, var(--themeDarker) 99.77%);
    --sidebarColour: #6C62AE;
    --shadow1: 5px 0px 75px 0px var(--black10);
    --shadow2: 0px 5px 20px 0pxvar(--black10);
    --headerBackground: var(--black10);
    --buttonSelected: #584E9A;
    --fontSizeSmaller: calc(12 / 14 * 1rem);
    --fontSizeBase: 14px;
    --fontSizeMedium: 1.143rem;
    --fontSizeLarge: 1.5rem;
    --fontSizeExtraLarge: 3rem;
    --baseWhite: #fff;
    --white75: #FFFFFFBF;
    --white50: #ffffff80;
    --white25: #FFFFFF40;
    --white10: #FFFFFF1A;
    --baseBlack: #000;
    --black10: #0000001A;
    --shimmerColour: color-mix(in srgb, var(--baseWhite) 10%, transparent);
    --grey1: #666666;
    --grey2: #7F7F7F;
    --transparency75: transparent 75%;
    --transparency50: transparent 50%;
    --transparency25: transparent 25%;
    font-family: 'AkkuratStd', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--fontSizeBase);
    --txColourConfirmed: #FFFFFFBF;
    --txColourPending: var(--white25);
    --blockCardBackground: var(--white25);
    --borderColour: #FFFFFF1A;

    &.high-contrast {
        --white75: #FFF;
        --white50: #FFF;
        --white25: #FFF;
        --white10: #FFF;
        --grey1: #333;
        --grey2: #333;
        --buttonSelected: #333;
        --sidebarColour: #000;
        --themeDarker: #000;
        --themeLighter: #333;
        --blockCardBackground: #000;

        .block-card.new>div button {
            background: var(--baseWhite);
            color: var(--baseBlack)
        }

        .grid-footer button {
            color: var(--baseBlack)
        }
    }
}

.app-container,
.grid {
    display: grid
}

.app-container {
    background: var(--colourBackground);
    height: 100vh;
    grid-template-columns: max-content 1fr;

    .app-content-container {
        height: 100vh;
        grid-template-rows: max-content 1fr;
    }
}

div.shimmer {
    background: var(--shimmerColour);
    margin: 0.2rem 0
}