:root {
    --themeDarker: #3A307C;
    --colourBackground: linear-gradient(89.73deg, #584E9A 0.23%, var(--themeDarker) 99.77%);
    --sidebarColour: #6C62AE;
    --shadow1: 5px 0px 75px 0px #0000001A;
    --shadow2: 0px 5px 20px 0px #0000001A;
    --headerBackground: #0000001A;
    --buttonSelected: #584E9A;
    --fontSizeBase: 14px;
    --fontSizeMedium: 1.143rem;
    --fontSizeLarge: 1.5rem;
    --fontSizeExtraLarge: 3rem;
    --baseWhite: #fff;
    --white25: #FFFFFF40;
    --baseBlack: #000;
    --transparency75: transparent 75%;
    --transparency50: transparent 50%;
    --transparency25: transparent 25%;
    font-family: 'AkkuratStd', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--fontSizeBase);
    --txColourConfirmed: #FFFFFFBF;
    --txColourPending: var(--white25);
    --blockCardBackground: var(--white25);
    --borderColour: #FFFFFF1A;
}

body,
.grid {
    display: grid
}

body {
    background: var(--colourBackground);
    height: 100vh;
    grid-template-columns: max-content 1fr;
    margin: 0
}

div.block-visualisation {
    --squareSize: var(--fontSizeMedium);
    --squareGridGap: 0.5rem;
    --cardPadding: 1.5rem;
    --cardWidth: calc(var(--squareSize) * 10 + var(--squareGridGap) * 9 + var(--cardPadding) * 2);

    padding: 3rem;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, var(--cardWidth));
    gap: 1rem;
    width: 100%;

    .block-card {
        width: var(--cardWidth);
        grid-template-rows: max-content 1fr max-content;
        background: var(--blockCardBackground);
        box-shadow: var(--shadow2);
        --gridBorder: 1px solid var(--borderColour);
        color: var(--baseWhite);

        .header-bar {
            padding: var(--cardPadding);
            border-bottom: var(--gridBorder);

            >div {
                display: flex;
                justify-content: space-between;
                font-size: var(--fontSizeMedium);
            }

            >span {
                color: var(--txColourConfirmed);
            }
        }

        .block-grid {
            grid-template-columns: repeat(10, var(--squareSize));
            grid-template-rows: repeat(10, var(--squareSize));
            gap: var(--squareGridGap);
            width: max-content;
            padding: var(--cardPadding);

            .tx-square {
                height: 100%;
                width: 100%;
                background: var(--txColourPending);

                &.confirmed {
                    background: var(--txColourConfirmed);

                }
            }

        }

        .paginator {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            border-top: var(--gridBorder);
            padding-left: var(--cardPadding);

            >span {
                color: color-mix(in srgb, var(--baseWhite) 75%, var(--transparency25));
            }

            >div {
                display: flex;
                gap: 1;
            }

            button {
                height: calc(2* var(--fontSizeMedium));
                width: calc(2* var(--fontSizeMedium));
                background: var(--white25);
                color: color-mix(in srgb, var(--themeDarker) 50%, var(--transparency50));
                border: 0;
                font-size: var(--fontSizeMedium);
            }

            &.hidden {
                display: none
            }
        }
    }


}

div.key-stats-container {
    background: var(--headerBackground);

    &>div {
        width: max-content;
        padding: 2rem;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem 3rem;

        span.title-label {
            color: color-mix(in hsl, var(--baseWhite) 50%, var(--transparency50));
            text-transform: uppercase;
        }

        span:not(.title-label) {
            color: var(--baseWhite)
        }

        span.stat-unit {
            font-size: var(--fontSizeLarge);
        }

        span.stat-value {
            font-size: var(--fontSizeExtraLarge);
        }
    }
}

div.sidebar {
    background: var(--sidebarColour);
    box-shadow: var(--shadow1);

    padding: 0 0.5rem;
    justify-content: center;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;

    button.home-button,
    button.icon-button {
        background: transparent;
        color: var(--baseWhite);
        max-width: 10vw;
        min-width: 100px;
        max-height: 10vw;
        min-height: 100px;
        border: 0;

        &.is-selected {
            background: var(--buttonSelected)
        }
    }

    button.home-button {
        font-size: 3rem;
    }

    button.icon-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
            text-transform: uppercase;
        }

        svg {
            width: 1.75rem;
            height: 1.75rem
        }
    }
}